.aboutbody {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bgabout {
  background-color: rgb(255, 255, 230);
}

.fontstyle {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.profileImg {
  height: 100%;
  width: 100%;
}

.progressheight {
  height: 3%;
}

.aboutme {
  text-align: right;
}

@media only screen and (max-width: 968px) {
  .aboutme {
    text-align: center;
  }
}