.home-body {
  padding-top: 40vh;
  padding-bottom: 40vh;
  color: white;
}
.home-texthead {
  font-size: 5vw;
}
.home-text {
  font-size: 3.5vw;

  display: inline-block;
  padding: 15px;
}
.bg {
  background: url(homess.jpg);
  height: 100vh;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 980px) {
  .home-texthead {
    font-size: 8vw;
  }
  .home-text {
    font-size: 5.5vw;
  }
}
