.largetext {
  font-size: 35px;
  color: rgb(255, 71, 26);
}
.navtext {
  font-size: 17px;
}

@media only screen and (max-width: 980px) {
  .navtext {
    background: black;
    height: 300px;
    opacity: 0.8;
    color: white;
  }
}
