.button-portfolio {
  border-radius: 25px;
  font-size: 1.4vw;
  color: rgb(255, 72, 0);
  border: 2px solid rgb(255, 72, 0);
  padding: 6px 25px;
  background-color: azure;
  margin: 5px;
}

.box-height {
  height: 40vh;
  width: 100%;
}

.project-font {
  padding: 100px;
  font-size: 1.5vw;
  border: 1px solid;

}

.project-font p {
  padding-top: 20px
}

.button-end {
  position: relative;
  top: 80px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.2vw;
}

.border-end {
  border-bottom: 2px solid gray;
}

.row {
  padding: 8px;
}

@media only screen and (max-width: 720px) {
  .button-portfolio {
    width: 100%;
    font-size: 3vw;
  }

  .button-end {
    font-size: 4vw;
  }

  .project-font {
    font-size: 4vw;
    padding: 20px;
  }

  .button-end {
    top: 2px;
  }
}