.button-portfolio {
  border-radius: 25px;
  font-size: 1.4vw;
  color: rgb(255, 72, 0);
  border: 2px solid rgb(255, 72, 0);
  padding: 6px 25px;
  background-color: azure;
  margin: 5px;
}

.project-font {
  font-size: 2vw;
}

@media only screen and (max-width: 980px) {
  .button-portfolio {
    width: 100%;
    font-size: 4vw;
  }

  .project-font {
    font-size: 4vw;
  }
}
.box-height {
  height: 38vw;
  width: 100%;
}
