.aboutbody {
  padding-top: 8%;
  height: 700px;
}

.fontstyle {
  font-family: "Poppins", sans-serif;
  font-size: 75%;
}

.profileImg {
  height: 100%;
  width: 100%;
}

.progressheight {
  height: 3%;
}
.aboutme {
  text-align: right;
}
@media only screen and (max-width: 980px) {
  .aboutme {
    text-align: center;
  }
}
