.styles {
}
.aboutbody {
  padding-top: 8%;
  height: 700px;
}

.profileImg {
  height: 100%;
  width: 100%;
}

.progressbar {
  width: 20%;
}
.progressheight {
  height: 3%;
}
.aboutme {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .aboutme {
    text-align: center;
  }
}
