.home-body {
  padding-top: 40vh;
  padding-bottom: 40vh;
  color: azure;
}

.bg {
  background: url(homess.jpg);
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
