.largetext {
  font-size: 35px;
}
.navtext {
  font-size: 23px;
}
@media only screen and (max-width: 980px) {
  .navtext {
    background: lightgray;
    height: 300px;
    opacity: 0.8;
    color: white;
  }
}
