.portfolio-body {
  padding-top: 3%;
  padding-bottom: 3%;
}

.bgportfolio {
  background: url(homess.jpg);
  height: 100%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.box-height {
  height: 100%;
  width: 100%;
  box-shadow: 20px 7px 11px 0 rgba(0, 0, 0, 0.2),
    20px 9px 23px 0 rgba(0, 0, 0, 0.19);
}
.button-portfolio {
  border-radius: 25px;
  font-size: 22px;
  color: rgb(255, 72, 0);
  border: 2px solid rgb(255, 72, 0);
  padding: 6px 25px;
  background-color: azure;
  margin: 5px;
}

@media only screen and (max-width: 980px) {
  .button-portfolio {
    margin: 10px;
  }
  .project {
    border: 1px solid red;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 20px 7px 11px 0 rgba(0, 0, 0, 0.2),
      20px 9px 23px 0 rgba(0, 0, 0, 0.19);
  }
  .box-height {
    width: 100%;
    height: auto;
  }
}
