.portfolio-body {
  padding-top: 3%;
  padding-bottom: 3%;
}

.bgportfolio {
  background: url(homess.jpg);
  height: 100%;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.box-height {
  height: 90%;
  width: 90%;
  box-shadow: 20px 7px 11px 0 rgba(0, 0, 0, 0.2),
    20px 9px 23px 0 rgba(0, 0, 0, 0.19);
}
